# Python
.venv/
__pycache__/
*.pyc

# Hugging Face downloaded models
backend/hf_models/

backend/.env/

# Node
frontend/node_modules/

# Environment variables
.env
.env.local

# macOS
.DS_Store

# Logs
*.log